 .jumbotrom {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}
footer {
	padding: 10px 10px 0 10px;
	Background-color: yellow;
	margin-button: 0px;
	margin-top: 10px;
	
}
.card-hotel {
	flex: 1 250px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: 80px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
	
}
.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	margin-top: 20px;
	padding-right: 120px;
	padding-left: 120px;
	padding-top: 20px;
	margin-bottom: 50px;
	
}
.nav-pills {
	padding-left: 120px;
}
.breadcrumb {
	margin-top: 30px;
}
.button-collapse {
	margin-left: 80px;
}