$yellow: #ffed61;
$red: #ff4d4d;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

 .jumbotrom {
	background-color:$yellow;
	color: black;
	@include margenes (50px, 0px);
}
footer {
	padding: 10px 10px 0 10px;
	Background-color: $red;
	@include margenes (10px, 0px);
	
}
.card-hotel {
	flex: 1 250px;
	@include margenes (10px, 0px);
	margin-left: 80px;
}
.btn-reserva {
	width: 100%;
	border-radius: 0px;
	
}
.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	margin-top: 20px;
	padding-right: 120px;
	padding-left: 120px;
	padding-top: 20px;
	margin-bottom: 50px;
	
}
.nav-pills {
	padding-left: 120px;
}
.breadcrumb {
	@include margenes (30px, 0px);
}
.button-collapse {
	margin-left: 80px;
}