.jumbotrom {
  background-color: #ffed61;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  Background-color: #ff4d4d;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 80px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  margin-top: 20px;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 20px;
  margin-bottom: 50px; }

.nav-pills {
  padding-left: 120px; }

.breadcrumb {
  margin-top: 30px;
  margin-bottom: 0px; }

.button-collapse {
  margin-left: 80px; }
